apt/pool/main/g/gcc-12/g++-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
apt/pool/main/g/gcc-12/gfortran-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
apt/pool/main/g/gcc-12/gobjc-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
apt/pool/main/g/gcc-12/gcc-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
apt/pool/main/g/gcc-12/cpp-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
apt/pool/main/g/gcc-12/gobjc++-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
apt/pool/main/g/gcc-12/gm2-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
apt/pool/main/g/gcc-12/gccgo-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
apt/pool/main/g/gcc-12/gcc-12-source_12.1.0-2ubuntu1~22.04focal1_all.deb
apt/pool/main/g/gcc-12/gcc-12-offload-amdgcn_12.1.0-2ubuntu1~22.04focal1_amd64.deb
apt/pool/main/g/gcc-11/gcc-11-source_11.3.0-1ubuntu1~22.04focal1_all.deb
pkgs/ubuntu-focal-amd64/g++-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
pkgs/ubuntu-focal-amd64/gfortran-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
pkgs/ubuntu-focal-amd64/gobjc-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
pkgs/ubuntu-focal-amd64/gcc-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
pkgs/ubuntu-focal-amd64/gcc-11-source_11.3.0-1ubuntu1~22.04focal1_all.deb
pkgs/ubuntu-focal-amd64/cpp-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
pkgs/ubuntu-focal-amd64/gobjc++-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
pkgs/ubuntu-focal-amd64/gm2-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
pkgs/ubuntu-focal-amd64/gccgo-12_12.1.0-2ubuntu1~22.04focal1_amd64.deb
pkgs/ubuntu-focal-amd64/gcc-12-source_12.1.0-2ubuntu1~22.04focal1_all.deb
pkgs/ubuntu-focal-amd64/gcc-12-offload-amdgcn_12.1.0-2ubuntu1~22.04focal1_amd64.deb
